.light-theme {
  // .left-menu-wrapper, .el-menu{
  //   background: #fff;
  //   .el-menu-item,.el-submenu__title{
  //     color: #303133;
  //   }
  //   i{
  //     color:#909399;
  //   }
  //   .el-menu-item{
  //     background: #fff;
  //   }
  //   .el-menu-item:hover,.el-submenu__title:hover{
  //     background: #ecf5ff;
  //   }
  //   .is-active{
  //     color: #409EFF;
  //   }
  // }
  .bread-tool {
    background: #fff;
  }

  .app-body {
    background: #f0f2f5;
  }
}
